.body {
}

.container-fluid {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100vh;
    width: 20vw;
}

.container-fluid .logo {
    align-self: center;
    width: 70%;
    margin-bottom: 10px;
}

.container-fluid button {
    align-self: center;
    border: 1px solid #FE9B10;
    border-radius: 10px;
    margin-bottom: 0.4vh;
    height: 6vh;
    width: 90%;
    text-align: left;
    padding-left: 2vw;
}

.container-fluid h1 {
    margin-top: 2vh;
    padding-left: 2vw;
    font-size: 1.5rem;
    font-weight: 700;
}

.container-fluid ul li {
    padding-left: 1vw;
    list-style-type: none;
}

.container-main {
    padding: 3vh 2vw 1vh 2vw;
    display: flex;
    flex-direction: column;
}

.container-main input {
    padding: 8px;
    width: 30vw;
    border: none;
    border-radius: 10px;
    background: #F5F5F5;
}

.container-main .divider {
    padding: 10px;
}

.container-main h1 {
    font-weight: 700;
}

.container-main table {
    width: 100%;
    table-layout: fixed;
}

.container-main table th {
    background: #FFD79F;
    padding: 6px;
    padding-left: 10px;
    
}

.container-main table tr {
    margin-bottom: px;
    
}

.container-main table td {
    background: #FFF9F0;
    padding: 10px;
    padding-left: 10px;
}

.container-main .player {
    text-align: center;
}

.container-main .player h1{
    margin: auto;
}

.slider {
    appearance: none;
    width: 100%;
    height: 1px;
    background: #2F2D2D;
    border-radius: 10px;
    margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #131211;
    cursor: pointer;
    border-radius: 20px;
}

.container-main .icon {
    width: 4%;
}

.container-main .icon-play {
    width: 5%;
}
.container-main .icon-rotate {
    transform: rotate(180deg);
}

.modal-container {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.upload-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    height: 350px;
    width: 500px;
    transform: translate(-50%, -50%);
}

.upload-modal .header {
    background: #FFD79F;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    padding: 10px;
}

.upload-modal h1 {
    color: black;
    font-weight: 100;
    font-size: 25px;
}

.upload-modal .drag-container h1 {
    font-size: 23px;
    padding-top: 70px;
    text-align: center;
    color: white;
}

.upload-modal .modal-btn {
    text-align: center;
    margin-top: 140px;
}

.upload-modal div .upload-btn {
    background: #FFD79F;
    padding: 5px;
    width: 150px;
    border: 1px solid black;
    margin-right: 10px;
    font-weight: 800;
    border-radius: 10px;
}

.upload-modal div .cancel-btn {
    background: white;
    padding: 5px;
    width: 150px;
    border: 1px solid black;
    margin-right: 10px;
    font-weight: 800;
    border-radius: 10px;
}

.modal-container2 {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.create-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    height: 350px;
    width: 500px;
    transform: translate(-50%, -50%);
}

.create-modal .header {
    background: #FFD79F;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    padding: 10px;
}

.create-modal h1 {
    color: black;
    font-weight: 100;
    font-size: 25px;
}

.create-modal .input-container {
    margin: 24px;
    height: 170px;
    width: 90%;
}

.create-modal .input-container input {
    font-size: 16px;
    border: 1px solid black;
    padding-left: 14px;
    height: 40px;
    width: 100%;
    color: gray;
    border-radius: 10px;
}

.create-modal .modal-btn {
    text-align: center;
}

.create-modal div .create-btn {
    background: #FFD79F;
    padding: 5px;
    width: 150px;
    border: 1px solid black;
    margin-right: 10px;
    font-weight: 800;
    border-radius: 10px;
}

.create-modal div .cancel-btn {
    background: white;
    padding: 5px;
    width: 150px;
    border: 1px solid black;
    margin-right: 10px;
    font-weight: 800;
    border-radius: 10px;
}