
body {
    overflow-x: hidden;
    /* background-color: #0B0C10; */
}

.upper-content {
    background-color: #0B0C10;
    height: 700px;
    box-shadow: 10px 60px 100px 60px #0B0C10;
    margin-bottom: 0;
}

.upper-content .circle-div {
    height: 700px;
    width: 700px;
    background-color: #1F2833;
    border-radius: 50%;
    position: absolute;
    top: -250px;
    right: -80px;
}
.col-sm-6 {
    margin-top:-100px;
}
.col-sm-6 .img-respo1 {
    margin-top: 40px;
    margin-left: -100px;
}
.navigation {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 100px;
}

.navigation .navbar-header a, .navigation .nav-list li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #c5c6c7;
    font-size: larger;
    margin-right: 30px;
}

.upper-content .upper-content-banner {
    padding-left: 100px;
    padding-right: 100px;
    background-color: transparent;
}

.upper-content .upper-first-col {
    height: 305px;
    padding-top: 10px;
    margin-top: 20px;
}

.upper-content .upper-content-banner h1 {
    color: #66FCF1;
    font-family: sans;
    font-weight: bold;
    font-size: 90px;
}

.upper-content .upper-content-banner h3 {
    color: #c5c6c7;
    font-family: sans;
    font-weight: bold;
    font-size: 55px;
}

.upper-content .upper-content-banner h4 {
    color: #c5c6c7;
    font-family: sans;
    font-size: 30px;
    letter-spacing: 3px;
}
.upper-content-banner label {
    color: #c5c6c7;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 2px;

}

.middle-content {
    height: 800px;
    background-color: #1F2833;
    padding-top: 25px;
}

.middle-content .small-banner {
    background-color: #45A29E;
    width: 500px;
    position: absolute;
    color: #c5c6c7;
    font-family: sans;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    padding-top: 4px;
}

.middle-content .gallery-container {
    margin-top: 60px;
}
.img-responsive {
    transition:transform .5s;
}
.img-responsive:hover {
    transform: scale(1.1)
}
.middle-content .lower-gallery-content label {
    color: #c5c6c7;
    font-family: sans;
    font-size: 17px;
    font-weight: lighter;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-top:-20px;
}

.middle-content .lower-gallery-content h3 {
    color: #66FCF1;
    font-family: sans;
    font-weight: lighter;
    margin-top:3px;
}

.footer-content {
    height: 300px;
    background-color: #0B0C10;
    padding-top: 20px;
}

.footer-content label {
    font-family: sans;
    font-size: 16px;
    border: none;
    color: #c5c6c7;
}

.footer-content .footer-contact {
    font-family: sans;
    font-size: 16px;
    border: none;
    color: #c5c6c7;
}
